
    <ul>
      <li>
        <%= @flat['name'] %>
      </li>
      <li>
        <%= @flat['price'] %>
      </li>
      <li>
        <%= @flat['priceCurrency'] %>
      </li>
    </ul>

<%= link_to 'back', flats_path  %>
